<a href="https://colab.research.google.com/github/OlgaPriyutova/GenreCounter-For-Activity-9.10.3-/blob/main/Genre_Counter_for_Activity_9_10_3_ThriveDX.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
import pandas as pd
import numpy as np

In [33]:
os = pd.read_csv('oscars_df.csv')
os.head(3)

,Unnamed: 0,Film,Oscar Year,Film Studio/Producer(s),Award,Year of Release,Movie Time,Movie Genre,IMDB Rating,IMDB Votes,...,Tomatometer Status,Tomatometer Rating,Tomatometer Count,Audience Status,Audience Rating,Audience Count,Tomatometer Top Critics Count,Tomatometer Fresh Critics Count,Tomatometer Rotten Critics Count,Film ID
0,0,Wings,1927/28,Famous Players-Lasky,Winner,1927,144,"Drama,Romance,War",7.5,"12,221",...,Certified-Fresh,93.0,46.0,Upright,78.0,3530.0,9.0,43.0,3.0,2becf7d5-a3de-46ab-ae45-abdd6b588067
1,1,7th Heaven,1927/28,Fox,Nominee,1927,110,"Drama,Romance",7.7,"3,439",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19ed3295-a878-4fd2-8e60-5cd7b5f93dad
2,2,The Racket,1927/28,The Caddo Company,Nominee,1928,84,"Crime,Drama,Film-Noir",6.7,"1,257",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3111c2d8-0908-4093-8ff3-99c89f2f2f08

In [49]:
os.shape

(571, 30)

In [34]:
o = os[os['Award']=='Winner']['Movie Genre']
o.head(5)

0         Drama,Romance,War
3     Drama,Musical,Romance
8                 Drama,War
13            Drama,Western
18            Drama,Romance
Name: Movie Genre, dtype: object

In [52]:
o.shape

(93,)

In [35]:
o.value_counts().head(10)

Drama                      10
Biography,Drama,History     8
Drama,Romance,War           7
Drama,Romance               6
Crime,Drama,Thriller        5
Comedy,Drama,Romance        3
Drama,War                   3
Drama,Western               2
Drama,Family,Musical        2
Drama,Musical,Romance       2
Name: Movie Genre, dtype: int64

In [36]:
o1 = o.str.split(',').to_list()

In [37]:
print(o1)

[['Drama', 'Romance', 'War'], ['Drama', 'Musical', 'Romance'], ['Drama', 'War'], ['Drama', 'Western'], ['Drama', 'Romance'], ['Drama', 'Romance', 'War'], ['Comedy', 'Romance'], ['Adventure', 'Biography', 'Drama'], ['Biography', 'Drama', 'Musical'], ['Biography', 'Drama'], ['Comedy', 'Drama', 'Romance'], ['Drama', 'History', 'Romance'], ['Drama', 'Mystery', 'Romance'], ['Drama', 'Family'], ['Drama', 'Romance', 'War'], ['Drama', 'Romance', 'War'], ['Comedy', 'Drama', 'Music'], ['Drama', 'Film-Noir'], ['Drama', 'Romance', 'War'], ['Drama', 'Romance'], ['Drama'], ['Drama', 'Film-Noir'], ['Drama'], ['Drama', 'Musical', 'Romance'], ['Drama', 'Family', 'Romance'], ['Drama', 'Romance', 'War'], ['Crime', 'Drama', 'Thriller'], ['Drama', 'Romance'], ['Adventure', 'Comedy', 'Family'], ['Adventure', 'Drama', 'War'], ['Comedy', 'Musical', 'Romance'], ['Adventure', 'Drama', 'History'], ['Comedy', 'Drama', 'Romance'], ['Crime', 'Drama', 'Musical'], ['Adventure', 'Biography', 'Drama'], ['Adventure', 'Drama', 'History'], ['Adventure', 'Comedy', 'History'], ['Drama', 'Family', 'Musical'], ['Biography', 'Drama', 'Family'], ['Biography', 'Drama', 'History'], ['Crime', 'Drama', 'Mystery'], ['Drama', 'Family', 'Musical'], ['Drama'], ['Biography', 'Drama', 'War'], ['Action', 'Crime', 'Drama'], ['Crime', 'Drama'], ['Comedy', 'Crime', 'Drama'], ['Crime', 'Drama'], ['Drama'], ['Drama', 'Sport'], ['Comedy', 'Romance'], ['Drama', 'War'], ['Drama'], ['Drama'], ['Biography', 'Drama', 'Sport'], ['Biography', 'Drama', 'History'], ['Comedy', 'Drama'], ['Biography', 'Drama', 'History'], ['Biography', 'Drama', 'Romance'], ['Drama', 'War'], ['Biography', 'Drama', 'History'], ['Drama'], ['Drama'], ['Adventure', 'Drama', 'Western'], ['Crime', 'Drama', 'Thriller'], ['Drama', 'Western'], ['Biography', 'Drama', 'History'], ['Drama', 'Romance'], ['Biography', 'Drama', 'History'], ['Drama', 'Romance', 'War'], ['Drama', 'Romance'], ['Comedy', 'Drama', 'History'], ['Drama'], ['Action', 'Adventure', 'Drama'], ['Biography', 'Drama'], ['Comedy', 'Crime', 'Musical'], ['Action', 'Adventure', 'Drama'], ['Drama', 'Sport'], ['Crime', 'Drama', 'Thriller'], ['Crime', 'Drama', 'Thriller'], ['Crime', 'Drama', 'Thriller'], ['Drama', 'Romance'], ['Drama', 'Thriller', 'War'], ['Biography', 'Drama', 'History'], ['Comedy', 'Drama', 'Romance'], ['Biography', 'Drama', 'Thriller'], ['Biography', 'Drama', 'History'], ['Comedy', 'Drama'], ['Biography', 'Crime', 'Drama'], ['Drama'], ['Adventure', 'Drama', 'Fantasy'], ['Biography', 'Comedy', 'Drama'], ['Comedy', 'Drama', 'Thriller']]

In [50]:
len(o1)

93

In [38]:
words = []
for k in o1:
  for m in k: 
    if m not in words:
      words.append(m)
print(words)

['Drama', 'Romance', 'War', 'Musical', 'Western', 'Comedy', 'Adventure', 'Biography', 'History', 'Mystery', 'Family', 'Music', 'Film-Noir', 'Crime', 'Thriller', 'Action', 'Sport', 'Fantasy']

In [39]:
dic = {k:0 for k in words}
print(dic)

{'Drama': 0, 'Romance': 0, 'War': 0, 'Musical': 0, 'Western': 0, 'Comedy': 0, 'Adventure': 0, 'Biography': 0, 'History': 0, 'Mystery': 0, 'Family': 0, 'Music': 0, 'Film-Noir': 0, 'Crime': 0, 'Thriller': 0, 'Action': 0, 'Sport': 0, 'Fantasy': 0}

In [40]:
for k in o1:
  for m in k:
    dic[m]+=1
print(dic)

{'Drama': 87, 'Romance': 25, 'War': 13, 'Musical': 8, 'Western': 3, 'Comedy': 16, 'Adventure': 11, 'Biography': 20, 'History': 13, 'Mystery': 2, 'Family': 6, 'Music': 1, 'Film-Noir': 2, 'Crime': 13, 'Thriller': 8, 'Action': 3, 'Sport': 3, 'Fantasy': 1}

In [54]:
o2 = o.str.split(',', expand=True)
o2.rename(columns={"0": "G1", "1":"G2", "2": "G2"})

             0        1         2
0        Drama  Romance       War
3        Drama  Musical   Romance
8        Drama      War      None
13       Drama  Western      None
18       Drama  Romance      None
..         ...      ...       ...
520  Biography    Crime     Drama
528      Drama     None      None
537  Adventure    Drama   Fantasy
546  Biography   Comedy     Drama
554     Comedy    Drama  Thriller

[93 rows x 3 columns]

In [55]:
frame = [o2[0],o2[1],o2[2]]

In [56]:
o3 = pd.concat(frame)

In [57]:
o3.value_counts()

Drama        87
Romance      25
Biography    20
Comedy       16
Crime        13
War          13
History      13
Adventure    11
Thriller      8
Musical       8
Family        6
Sport         3
Western       3
Action        3
Film-Noir     2
Mystery       2
Music         1
Fantasy       1
dtype: int64